{% extends 'main/layout/header_footer.html' %}
{% load static %}

{% block title %}Developers{% endblock %}
{% block activ-developers %}active{% endblock %}
{% block background %}<img src="{% static 'main/img/home.jpg' %}" class="background"/>{% endblock %}
{% block st-bg %}position: absolute; width: 100%{% endblock %}

{% block content %}

    <section class="container-fluid my-back mx-0 pb-0" style="padding-top: 100px;!important;">
        <div class="row justify-content-center">
            <div class="col-lg-11 text-uppercase px-0">
                <h2 class="display-4 mx-lg-5 px-3"><strong><b>DEVELOPERS</b></strong></h2>
                <hr style="color: #b8b897; height: 2px; opacity: 1">
            </div>
            <hr>
        </div>
    </section>

    <section class="container-fluid my-back">
        <div class="row justify-content-center pb-5">
            <div class="col-lg-4">
                <img class="dev-logo mb-3" src="{% static 'main/img/developers/for.jpg' %}" alt="">
            </div>
            <div class="col-lg-7 text-uppercase">
                <div class="container">
                <h3 class="display-6">fortune international group</h3>
                <p class="fs-5 pt-2 mb-3">
                    Edgardo Defortuna, President, CEO and Founder of Fortune International Group, was able to achieve
                    unprecedented success by bringing luxury buyers to Miami and shape the future of real estate market
                    of South Florida.
                </p>
                <p class="fs-5 pt-2 mb-3">"Leveraging our 30 years in South Florida, we have identified Sunny Isles
                    Beach as a real estate market with the potential for long-term sustained growth and we look forward
                    to building on the strong and mutually prosperous relationship with the Chateau Group," Edgardo
                    Defortuna said.
                </p>
                <p class="fs-5 pt-2 mb-3">A talented team of Fortune International Group offer resources, experience and
                    a true hands-on approach to create an atmosphere of exclusivity and splendor in St.Regis throughout
                    the complex, starting from the entrance from the central part of Collins Avenue.
                </p>
                <img class="dev-img mb-5" src="{% static 'main/img/developers/logo2.png' %}" alt="">
                    </div>
            </div>
        </div>
    </section>

    <section class="container-fluid my-back">
        <div class="row justify-content-center pb-5" >
            <div class="col-lg-4">
                <img class="dev-logo mb-3" src="{% static 'main/img/developers/cha.jpg' %}" alt="">
            </div>
            <div class="col-lg-7 text-uppercase ">
                <div class="container">
                <h3 class="display-6">Chateau group</h3>
                <p class="fs-5 pt-2 mb-3">Château Group is a leading real estate development company with over 35 years
                    of experience in residential, commercial and mixed-use projects in the United States.
                </p>
                <p class="fs-5 pt-2 mb-3">Having an extensive experience, Château Group can boast that its portfolio
                    includes prime locations for additional development throughout South Florida.
                </p>
                <p class="fs-5 pt-2 mb-3">Together with Fortunate International Group the Chateau Group has teamed to
                    buy the old La Playa De Varadero motel in Sunny Isles Beach and replace it with a luxury condominium
                    project.
                </p>
                <img class="dev-img mb-5" style="height: 35vh" src="{% static 'main/img/developers/logo.png' %}" alt="">
                    </div>
            </div>
        </div>
    </section>

    <section class="container-fluid my-back">
        <div class="row justify-content-center pb-5">
            <div class="col-lg-4">
                <img class="dev-logo mb-3" src="{% static 'main/img/developers/arq.jpg' %}" alt="">
            </div>
            <div class="col-lg-7 text-uppercase">
                <div class="container">
                <h3 class="display-6">ARQUITECTONICA</h3>
                <p class="fs-5 pt-2 mb-3">an international architecture, landscape architecture, interior design, and
                    urban planning design firm headquartered in Miami, is the main architect of ST. REGIS RESIDENCES in
                    Sunny Isles (Florida)
                </p>
                <p class="fs-5 pt-2 mb-3">Arquitectonica is a recognized leader in architecture and design of modern
                    buildings. Since its foundation (1977), Arquitectonica has won numerous Architecture Design Awards,
                    and the firm’s work has been noted in more than 5,000 national and international publications such
                    as Time, Newsweek, Life, Fortune and Business Week.
                </p>
                <p class="fs-5 pt-2 mb-5">Arquitectonica applies the innovative approaches of using the materials,
                    geometry, pattern and color to introduce a new modern design to the world that preserves the
                    ecological and cultural environment.
                </p>
            </div>
            </div>

        </div>
    </section>

    <section class="container-fluid my-back">
        <div class="row justify-content-center pb-5">
            <div class="col-lg-4">
                <img class="dev-logo mb-3" src="{% static 'main/img/developers/pat.jpg' %}" alt="">
            </div>
            <div class="col-lg-7 text-uppercase">
                <div class="container">
                <h3 class="display-6">PATRICIA ANASTASSIADIS</h3>
                <p class="fs-5 pt-2 mb-3">To transform St.Regis into a new style icon of Sunny Isles, a celebrated
                    architect, interior and product designer PATRICIA ANASTASSIADIS was invited to partner with
                    developers and architects.
                </p>
                <p class="fs-5 pt-2 mb-3">Anastassiadis' team has developed the architecture and interior design for
                    such brands as Four Seasons, Oetker Collection, Ritz Carlton, Hilton, Grand Hyatt, Sisley, Tishman
                    Speyer and others.
                </p>
                <p class="fs-5 pt-2 mb-3">Luxury furniture from Anastassiadis differs in quality of of binding together
                    sophisticated materials, handmade details and art.
                </p>
            </div>
                </div>
        </div>
    </section>

{% endblock %}